body{
	width: 100%;
	height: 100%;
	margin: 0;
}

.wrapper{
	font-family: sans-serif;
	background: #3e3e3e;
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: auto;
}

/* ГЛАВНОЕ МЕНЮ */
.menu ul {
	min-height: 60px;
	list-style: none;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
	background: #EBEBEB;
}

.menu a {
	min-height: 30px;
	text-decoration: none;
	transition: .1s linear;
	padding: 15px;
	display: block;
	color: #242424;
}

.menu a:hover {background: #BDBDBD}

/* ЛЕВЫЙ БЛОК КОНТЕНТА */
.left-block {
	float:left;
	/* JSP */
	width:calc(100% - (200px));
	height:calc(100% - (90px));
	overflow:auto;
}

/* ПРАВЫЙ БЛОК НАСТРОЕК */
.right-block {
	width: 200px;
	height:calc(100% - (90px));
	background-color:#EBEBEB;
	text-align:center;
	overflow:auto;
}

/* СКРЫТЬ/ПОКАЗАТЬ НАСТРОЙКИ */
.right-button {
	font-size: 15px;
	background-color: #EBEBEB;
	width: 25px;
	float: left;
	height: 100%;
	border: 1px solid #BDBDBD;
	outline:none;
}

.right-button:hover{
	background-color: #D1D1D1;
}

/* КОНТЕЙНЕР ДЛЯ ТАБЛИЦ */
.content-block{
	background:#FFFFFF;
	width: 1900px;
	height: 1240px;
	margin: 40px;
	box-shadow: 0 0 25px rgba(0,0,0,0.8);
}

/* ОТСТУПЫ */
.content{
	padding: 20px;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
}

/* СКРОЛЛЫ ДЛЯ КОНТЕЙНЕРА */
.custom-scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.5);
}

/* ФУТЕР */
.footer{
	float: bottom;
	text-align: center;
	font-size: 11px;
	color: #242424;
	border-top: 1px solid rgba(0,0,0,0.5);
	background-color: #D0D0D0;
	height: 29px;
}

.table-content{
	text-align:center;
	width: 100%;
}

/* ТЕКСТОВЫЕ ПОЛЯ */
.text-field{
	border: 0px solid #242424;
	border-bottom-width: 1px;
	width: 50px;
}

.title-table{
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0 auto;
}

.title-table tr td {
	border: 1px solid black;
	padding: 5px 5px 5px 5px;
}

.hmp-table{
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0 auto;
}

.hmp-table tr td {
	border: 1px solid black;
	padding: 5px 10px 5px 5px;
}

/* СТИЛЬ НИЖНИХ ТАБЛИЦ TITLE */
.down-table1{
	float: left;
	width: 760px;
}

.down-table2{
	float: left;
	width: 350px;
}

.down-table3{
	float: left;
	width: 500px;
}

/* СОХРАНИТЬ ИЗМЕНЕНИЯ */
.save-button{
	float: right;
	color: white;
	border: 1px solid #4CAF50;
	background-color: #4CAF50;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	margin-left: 10px;
	width: 150px;
}

.save-button:hover {
	background-color: #449C47;
	border: 1px solid #449C47;
}

.remove{
	border: 1px solid #C96261;
	background-color: white;
	color: #272727;
}

.remove:hover{
	background-color: #C96261;
	border: 1px solid #C96261;
	color: white;
}

.addb{
	border: 1px solid #6097c9;
	background-color: white;
	color: #272727;
}

.addb:hover{
	background-color: #6097c9;
	border: 1px solid #6097c9;
	color: white;
}

/* Перевёрнутый текст */
.rotatable{
	width: 20px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.parent_popup{
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.popup{
	background: #fff;
	width: 520px;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	position: relative;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.close{
	background-color: #FF8066;
	height: 24px;
	top: 0px;
	right: 0px;
	line-height: 24px;
	position: absolute;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
	font-size: 14px;
	width: 24px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.close:hover{
	background-color: #d2695c;
}

.popup-form{
	width: 500px;
	height: 300px;
}

.popup-table{
	font-size: 14pt;
	margin: 0 auto;
	padding-top: 20px;
}

.popup-table tr td{
	padding-top: 8px;
}

.popup-table td{
	padding-right: 5px;
}

.text-field-n {
	font-size: 12pt;
	width: 100%;
	padding: 5px 25px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}