body{
	width: 100%;
	height: 100%;
	margin: 0;
}

.wrapper{
	font-family: sans-serif;
	background: #3e3e3e;
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: auto;
}

/* ГЛАВНОЕ МЕНЮ */
.menu ul {
	min-height: 60px;
	list-style: none;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
	background: #EBEBEB;
}

.menu a {
	min-height: 30px;
	text-decoration: none;
	transition: .1s linear;
	padding: 15px;
	display: block;
	color: #242424;
}

.menu a:hover {background: #BDBDBD}

/* ЛЕВЫЙ БЛОК КОНТЕНТА */
.left-block {
	float:left;
	/* JSP */
	width:calc(100% - (200px));
	height:calc(100% - (90px));
	overflow:auto;
}

/* ПРАВЫЙ БЛОК НАСТРОЕК */
.right-block {
	width: 200px;
	height:calc(100% - (90px));
	background-color:#EBEBEB;
	text-align:center;
	overflow:auto;
}

/* СКРЫТЬ/ПОКАЗАТЬ НАСТРОЙКИ */
.right-button {
	font-size: 15px;
	background-color: #EBEBEB;
	width: 25px;
	float: left;
	height: 100%;
	border: 1px solid #BDBDBD;
	outline:none;
}

.right-button:hover{
	background-color: #D1D1D1;
}

/* КОНТЕЙНЕР ДЛЯ ТАБЛИЦ */
.content-block{
	background:#FFFFFF;
	width: 1900px;
	height: 1240px;
	margin: 40px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* ОТСТУПЫ */
.content{
	padding: 20px;
}

/* СКРОЛЛЫ ДЛЯ КОНТЕЙНЕРА */
.custom-scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.5);
}

/* ФУТЕР */
.footer{
	float: bottom;
	text-align: center;
	font-size: 11px;
	color: #242424;
	border-top: 1px solid rgba(0,0,0,0.5);
	background-color: #D0D0D0;
	height: 29px;
}

.table-content{
	text-align:center;
	width: 100%;
}

/* ТЕКСТОВЫЕ ПОЛЯ */
.text-field{
	border: 0px solid #242424;
	border-bottom-width: 1px;
	width: 50px;
}

.title-table{
	border-collapse: collapse;
	margin: 0 auto;
}

.title-table tr td {
	border: 1px solid black;
	padding: 5px;
}

/* СТИЛЬ НИЖНИХ ТАБЛИЦ TITLE */
.down-table1{
	float: left;
	width: 850px;
}

.down-table2{
	float: left;
	width: 350px;
}

.down-table3{
	float: left;
	width: 500px;
}

/* СОХРАНИТЬ ИЗМЕНЕНИЯ */
.save-button{
	float: right;
	background-color: white;
	border: none;
	border: 2px solid #4CAF50;
	color: #242424;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.save-button:hover {
	background-color: #4CAF50;
	color: white;
}
/*body{
	font-family: sans-serif;
	margin:0;
	background: #FAFAFA;
}

.menu ul {
	list-style: none;
	margin: 0 auto;
}

.menu a {
	text-decoration: none;
	transition: .5s linear;
}

.menu ul {
	display: -webkit-flex;
	display: flex;
	background: #F7F7F7;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu a {
	padding: 15px;
	display: block;
	color: #242424;
}

.menu a:hover {background: #D0D0D0}

div.wrapper {
	width:100%;
	height: calc(100% - (20px + 30px - 2px) - 30px);
	overflow:auto;
}

div.left-block {
	float:left;
	width:calc(100% - (150px));
	height: 100%;
	overflow:auto;
}

div.right-block {
	float:right;
	width:150px;
	background-color:#F7F7F7;
	box-shadow: -5px 0 5px -5px rgba(0,0,0,0.5);
	height: 100%;
	text-align:center;
	overflow:auto;
}

div.footer {
	float: bottom;
	text-align: center;
	font-size: 11px;
	color: #242424;
	border-top: 1px solid rgba(0,0,0,0.5);
	background-color: #D0D0D0;
}


.custom-scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.5);
}

.table-content{
	width: 900px;
	padding:40px;
	text-align: left;
	margin: 0 auto;
}

.table-content tr{
	padding: 15px;
}

.table-content td{
	padding: 7px;
}

.title-table{
	border-collapse: collapse;
	margin: 0 auto;
}

.title-table tr td {
	border: 1px solid black;
	padding: 5px;
}

.down-table1{
	float: left;
	width: 900px;
	margin: 0 auto;
}

.down-table2{
	float: left;
	width: 450px;
	margin: 0 auto;
}

.down-table3{
	float: left;
	width: 450px;
	margin: 0 auto;
}

*/